<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Munch Madness - Login</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <div class="login-container">
        <h1>Login to Munch Madness</h1>
        <form>
            <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label id="password" for="password">Password: </label>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
  <img src="SailingShip.jpg">
</body>
</html>
